<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <title>A Rede</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/img/web.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>A Rede</h3>
  <ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#opcaoConexao">Conexão</a></li>
    <li><a data-toggle="tab" href="#opcaoConsultar">Consultar</a></li>
    <li><a data-toggle="tab" href="#opcaoAdicionar">Adicionar</a></li>
    <li><a data-toggle="tab" href="#opcaoDeletar">Deletar</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="opcaoConexao" class="tab-pane fade in active">
        <h3>Bem Vindo!</h3>
        {% if conectado %}
          {% include "opcaoDesconectar.html" %}
        {% else %}
          {% include "opcaoConectar.html" %}
        {% endif %}

    </div>
        
    <div  id="opcaoConsultar" class="tab-pane fade">
        <h3>Quem você deseja encontrar?</h3>
        {% include "opcaoConsultar.html" %}
    </div>

    <div  id="opcaoAdicionar" class="tab-pane fade">
        <h3>Adicionar </h3>
        {% include "opcaoAdicionar.html" %}
    </div>
    
    <div  id="opcaoDeletar" class="tab-pane fade">
        <h3>Quem será deletado?</h3>
        {% include "opcaoDeletar.html" %}
     
    </div>
    
    
  </div>
    
</div>


</body>
</html>
